thead{
    color: red;
}
table{
    border: 2px solid blue;

}
.left{
    float: left;
}
legend{
    color: greenyellow;
}
th{
    box-shadow: 1px 0px green;
}
td{
    box-shadow: 1px -1px green;
}
tfoot{
    color: green;
}
.blacktext{
    color: black;
}
div{
    float: left;
    background-color: #accb34;  
}