thead{
    color: red;
}
table{
    border: 2px solid blue;
}
.center{
    text-align: center;
}
legend{
    background-color: lightgreen;
    color: blue;
}
th{
    box-shadow: 1px 0px green;
}
td{
    box-shadow: 1px -1px green;
}
tfoot{
    color: green;
}
.blacktext{
    color: black;
}
div{
    float: left; 
    padding: 100px;
}
body{
    background-color: #c3e989;
}
form{
    padding: 10px;
    margin: 10px;
}
caption{
    font-style: italic;
}
fieldset{
    padding: 10px;
    margin: 10px;
}
label{
    padding: 10px;
    margin: 10px;
}