body{
    background-color: rgb(34, 255, 153);
}
ul{
    list-style-type: none;
}
.all{
    display: flex;
    flex-direction: column;
}
div{
    margin: 10px;
    padding: 10px;
}
.a{
    width: 7%;
}
.b{
    width: 15%;
}
.left{
    float: left;
}
.body{
    display: flex;
    justify-content: space-between; 
    text-align: center;
    padding: 10px;
}
.sida{
    box-shadow: 4px 4px rgb(221, 40, 112);
    background-color: rgb(221, 221, 221);
    padding: 10px;
    margin: 40px;
}

button{
    color: white;
    background-color: black;
    border: none;
    border-radius: 30px;
    padding: 15px;
    margin: 5px;
}
.forms{
    display: flex;
    align-self: center;
}
form{
    background-color: lightgrey;
    padding: 20px;
    margin: 10px;
    color: rgb(0, 0, 255);
    box-shadow: 3px 3px rgb(11, 154, 65);
}
.info{
    background-color: rgb(221, 221, 221);
    box-shadow: red 2px 2px solid;
}
.moreinfo{
    background-color: rgb(221, 221, 221);
    box-shadow: blue 2px 2px solid;
}
legend{
    background-color: rgb(144, 238, 144);
}
@media screen and (max-width: 1200px) and (min-width: 650px) {
    .forms{
        display: none;
    }
}
@media screen and (max-width: 650px) {
    .forms{
        display:none;
    }
    .moreinfo{
        display: none;
    }
}
.info:hover{
    background-color: yellow;
}

