body{
    background-color: rgb(34, 255, 153);
}
ul{
    list-style-type: none;
}
.all{
    display: flex;
    flex-direction: column;
}
.left{
    float: left;
}
.body{
    display: flex;
    justify-content: space-between; 
    text-align: center;
    padding: 10px;
}
a{
    box-shadow: 4px 4px rgb(221, 40, 112);
    background-color: rgb(221, 221, 221);
}
.a{
    flex: 1; 
    margin-right: 5%;
}

.b{
    flex: 3;
    margin-left: 5%;
}
button{
    color: white;
    background-color: black;
    border: none;
    border-radius: 30px;
    padding: 15px;
    margin: 5px;
}
.forms{
    display: flex;
    align-self: center;
}
form{
    background-color: lightgrey;
    padding: 20px;
    margin: 10px;
    color: rgb(0, 0, 255);
    box-shadow: 3px 3px rgb(11, 154, 65);
}