img{
    width: 200px;
    height: 195px;
    margin: 10px;
    float: none;
    box-shadow: 1px 1px black;
    padding: 5px;
    

}
div{
    float: left;
    margin: 5px;
    background-color: gold;
    text-align: center;
}
