.roman{
    list-style-type: lower-roman;
}
body{
    background-color: lightgreen;
}
.none{
    list-style-type: none;
}
ul{
    border: 2px solid blue; 
}
.square{
    list-style-type: square;
}
.ol,.ul{
    border: 2px solid purple;
}
.bc{
    background-color: white;
    color: rgb(71, 52, 52);
}