.red{
    color: red;
}
table{
    border: 2px solid blue;
    border-collapse: collapse;
    text-align: center;
}
.red{
    color: red;
}
th{
    padding: 5px 10px;
    text-align: center;
}
td,th{
    border: 1px solid green;
    padding: 5px 10px;
}
tfoot{
    border: lightgreen solid 2px;
}