body{
    background-color: lightgreen;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
}

button{
    text-align: center;
    width: 100px;
    height: 50px;
    color: blue;
    padding-top: 5px;
    background-color: grey;
    border-radius: 8px;
    margin: 8px;
}
div:hover{
    border: 4px dotted lightslategray;
}
.gul{
    border-left: yellow;
}
.rod{
    border-left: red;
}
.gron{
    border-left: green;
}
bla{
    border-left: blue;
}