body{
    background-color: lightgreen;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
}

button{
    text-align: center;
    width: 150px;
    height: 75px;
    color: blue;
    padding-top: 5px;
    background-color: grey;
    border-radius: 8px;
    margin: 8px;
}
div:hover{
    border: 4px dotted lightslategray;
}
.gul{
    border-left: ridge style yellow 8px ridge;
}
.rod{
    border-left: red 8px ridge;
}
.gron{
    border-left: green 8px ridge;
}
.bla{
    border-left: blue 8px ridge;
}