@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100&family=Montserrat:wght@100&family=ZCOOL+QingKe+HuangYou&display=swap');
body{
    background-color: lightsalmon;
}
.a{
    font-family: 'Montserrat', sans-serif;
}
.b{
    font-family: 'Montserrat Alternates', sans-serif;
}
.c{
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
}
.a,.b,.c{
    background-color: lightsalmon;
    box-shadow: 5px 5px black;
    background-image: linear-gradient(lightsalmon,orange);
    width: 300px    ;
}
